<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Types of autowiring -->

	<!-- <bean id="triangle" class="com.vinayparihar.spring.Triangle" autowire="byType"> 
		</bean> -->

	<!-- <bean id="triangle" class="com.vinayparihar.spring.Triangle" autowire="constructor"> 
		</bean -->


	<bean id="triangle" class="com.vinayparihar.spring.Triangle"
		autowire="byName">

	</bean>

	<bean id="pointA" class="com.vinayparihar.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="com.vinayparihar.spring.Point">
		<property name="x" value="-50" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="com.vinayparihar.spring.Point">
		<property name="x" value="50" />
		<property name="y" value="0" />
	</bean>

</beans>